

 *{padding: 0; margin: 0; box-sizing: border-box;}
 body{height: 250;}
 header .overlay {
   background: url('https://wallpaperset.com/w/full/0/d/d/491466.jpg');
   text-align: center;
   vertical-align: bottom;
   width: 100%;
   height: 175%;
   background-size: cover;
   background-attachment: fixed;
   position: bottom;
   overflow: hidden;
   border-radius: 0 0 0% 0% / 100%;
 }

 
 h1 {
   font-family: 'Dancing Script', cursive;
   font-size: 80px;
   color: rgb(255, 255, 255);
   margin-bottom: 30px;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;  
   background-color: rgb(99, 1, 1);
   
   }
 
 h3, p {
   font-family: 'Open Sans', sans-serif;
   margin-bottom: 30px;
   
   
 }
 
 button {
   border: none;
   outline: none;
   padding: 10px 30px;
   border-radius: 50px;
   color: rgb(255, 255, 255);
   background-color: rgb(99, 1, 1);
   margin-bottom: 50px;
   box-shadow: 0 3px 20px 0 #0000003b;
   
 }
 button:hover{
   cursor: pointer;
 }