

 *{padding: 0; margin: 0; box-sizing: border-box;}
 body{height: 250;}
 header .overlay {
   background: url('https://wallpaperset.com/w/full/0/d/d/491466.jpg');
   text-align: center;
   vertical-align: bottom;
   width: 100%;
   height: 175%;
   background-size: cover;
   background-attachment: fixed;
   position: bottom;
   overflow: hidden;
   border-radius: 0 0 0% 0% / 100%;
 }

 
 h1 {
   font-family: 'Dancing Script', cursive;
   font-size: 80px;
   color: rgb(255, 255, 255);
   margin-bottom: 30px;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;  
   background-color: rgb(99, 1, 1);
   opacity: 0.8;
   
   }
 
 h3, p {
   font-family: 'Open Sans', sans-serif;
   margin-bottom: 30px;
   
   
 }
 
 button {
   border: none;
   outline: none;
   padding: 10px 30px;
   border-radius: 50px;
   color: rgb(255, 255, 255);
   background-color: rgb(99, 1, 1);
   margin-bottom: 50px;
   box-shadow: 0 3px 20px 0 #0000003b;
   opacity: 0.8;  
   
 }
 button:hover{
   cursor: pointer;
 }


 @-webkit-keyframes {
}
@-webkit-keyframes extend {
    0% {
        width: 600px;
        height: 200px;
        border-radius: 100px;
        } 10% {
        width: 610px;
        height: 210px;
        background: #fff;
        margin-left: - 5px;
        margin-top: - 5px;
        } 20% {
        width: 600px;
        height: 200px;
        background: #6fb07f;
        margin-left: 0px;
        margin-top: 0px;
        } 100% {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        margin-left: 190px;
        background: #6fb07f;
        }
    }
@keyframes extend {
    0% {
        width: 600px;
        height: 200px;
        border-radius: 100px;
        } 10% {
        width: 610px;
        height: 210px;
        background: #fff;
        margin-left: - 5px;
        margin-top: - 5px;
        } 20% {
        width: 600px;
        height: 200px;
        background: #6fb07f;
        margin-left: 0px;
        margin-top: 0px;
        } 100% {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        margin-left: 190px;
        background: #6fb07f;
        }
    }
@-webkit-keyframes {
}
@-webkit-keyframes disappear {
    0% {
        opacity: 1;
        } 20% {
        color: #fff;
        } 100% {
        opacity: 0;
        }
    }
@keyframes disappear {
    0% {
        opacity: 1;
        } 20% {
        color: #fff;
        } 100% {
        opacity: 0;
        }
    }
@-webkit-keyframes {
}
@-webkit-keyframes appear {
    0% {
        opacity: 0;
        } 70% {
        opacity: 0;
        } 100% {
        opacity: 1;
        }
    }
@keyframes appear {
    0% {
        opacity: 0;
        } 70% {
        opacity: 0;
        } 100% {
        opacity: 1;
        }
    }
html {
    background: #fff
    }

input, button, submit {
    border: none
    }

.cont {
    position: absolute;
    width: 610px;
    height: 10px;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -300px
    }

button {
    border-width: 1px;
    width: 150;
    height: 50px;
    /*border-radius*/
    border-radius: 100px;
    background: rgb(225, 37, 37);
    position: absolute;
    border: 5px solid rgb(225, 37, 37);
    }

button > span {
    font-size: 48px;
    color: #6fb07f
    }

img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0
    }

button:focus {
    /*animation*/
    -webkit-animation: extend 1s ease-in-out;
    -ms-animation: extend 1s ease-in-out;
    animation: extend 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
    }

button:focus > span {
    /*animation*/
    -webkit-animation: disappear 1s ease-in-out;
    -ms-animation: disappear 1s ease-in-out;
    animation: disappear 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
    }

button:focus > img {
    /*animation*/
    -webkit-animation: appear 1s ease-in-out;
    -ms-animation: appear 1s ease-in-out;
    animation: appear 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
    }